/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*
  11. Custom resets
*/
body {
  font-family: "Segoe UI", Arial, sans-serif; /* Or your preferred font stack */
  line-height: 1.4; /* Or your preferred line height */
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Custom */
html, body {
  background-color: #252525;
  color: white;
  padding: 0 1rem 1rem;
}

#page-title {
  background: #1a1e1f;
  padding: 0.5rem 2rem;
  margin: 0 -2rem 1rem -2rem;
  box-shadow: #0a0a0a 0px 0px 8px 0px;
}

.showcase {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

showcase-item {
  flex: 1 1 calc(33% - 2rem);
  box-sizing: border-box;
  max-width: calc(33% - 1rem);
}

@media screen and (max-width: 800px) {
  showcase-item {
    flex: 1 1 calc(50% - 2rem);
    max-width: calc(50% - 1rem);
  }
  
}

@media screen and (max-width: 500px) {
  showcase-item {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

showcase-item > h2 {
  font-size: 1.5rem;
}

showcase-item > a {
  display: block;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  background-color: #333;
  color: #ddd;
  border-radius: 8px;
}

showcase-item > a:active {
  background-color: #444;
}

.showcase-description {
  flex-grow: 1;
}